
@import "./base/formats.scss";
@import "./base/police.scss";


@import "./components/boutons.scss";

@import "./layouts/header.scss";
@import "./layouts/footer.scss";

@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/fonctions.scss";

p
{
	font-family: 'Roboto', sans-serif;
	color: #9f9f9f;
	position:initial ;
}

.gourmand-titre 
{
	color: #9f9f9f;
}

.contenu-resto h3
{
	width: 90%;
}

span.number {
    margin-left: -50px;
    margin-right: 10px;
    padding: 5px;
    background: $primaire;
    border-radius: 50%;
	padding: 2px 6px;
	color:white;
}

.button-explorer a {
		background: linear-gradient(to bottom right,$secondaire ,$primaire);
		padding: 10px;
		border-radius: 30px;
		text-decoration: none;
		color: white;
		box-shadow: 1px 3px rgb(145, 141, 141);
}

.bouton a
{
	background: linear-gradient(to bottom right,$secondaire,$primaire);
	justify-content: center;
	padding: 10px;
	border-radius: 30px;
	text-decoration: none;
	color: white;
	box-shadow: 1px 3px #918d8d;
	line-height: 5;
}

.cont-page
{
	background-color: rgb(236, 233, 233);
	margin-top: -40px;
	border-radius: 30px 30px 0 0;
	padding-top: 20px;
	position: relative;
}

.formulaire {
	background-color: $gris-fonce;
	border-top: 2px solid #d3d3d3;
	padding: 15px 0 15px 0;
	text-align: center;
}

.text {
	background-color: $gris-claire;
	text-align: center;
	h2 {
		margin: 0;
		text-align: center;
	}
	p {
		margin-bottom: 0;
	}
}

.menu-contenu
{
	width: 100%;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
	
article
{
	display: flex;
	justify-content: space-between;
}

.piment
{
	margin-top: 0;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.price
{
  align-self:flex-end;
  margin-right: 10px;
}

span
{
	margin-left: 0;
}

.liste-ul {
	ul {
		list-style: none;
		padding-left: 0;
		text-align: center;
	}
	i {
		padding-right: 20px;
	}
}

i.fas.fa-ellipsis-v {
	padding-right: 0;
}



.restaurant {
	background-color: $gris-claire;
	padding-bottom: 10px;
}
.resto {
	background-color: white;
	margin: 10px;
	border-radius: 15px;
	padding-bottom: 10px;
}

.contenu-resto {
	padding-left: 5px;
}

.photo-resto {
	img {
		
		border-radius: 15px 15px 0 0;
		height: 200px;
	}
	
	display: inline-block;
	position: relative;
	
	p {
		margin: 0;
	}
	width: 100%;
}

.nouveau {
		background: $tertiaire;
		color: #088f6d;
		height: 30px;
		padding: 5px;
		position: absolute;
		top: 10%;
		right: 10%;
		line-height: 2;
	}

.photo-emballage
{
	padding-top: 20px;
	padding-bottom: 30px;
}

.fa-arrow-left{
	width: 10%;
	display: flex;
	margin: 0;
	padding: 0;
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2%;
    line-height: 2;
    color: black;
}

.gourmand-titre
{
	margin-left: 15px;
}

.photo-gout {
	img {
		width: 100%;
	}
}

.photo-gout img 
{
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.menu
{
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	padding-left: 5px;
}

img
{
	width: 100%;
}













 
