$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

#container
{
    font-family: Roboto, sans-serif;
    width: 100%;
}

img
{
    width: 20px;
    height: 20px;
}

.photo-gout
{
    width: 20px;
}

body{
    color: white;
    background-color: black;
}