$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


.logo {
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	width: 100%;
}

.cont-page
{
	background-color: rgb(211, 205, 205);
}

.formulaire {
	background-color: rgb(177, 170, 170);
	padding: 15px 0 15px 0;
	text-align: center;
}

.text {
	background-color: rgb(211, 205, 205);
	text-align: center;
	h2 {
		margin: 0;
		text-align: center;
	}
	p {
		margin-bottom: 0;
	}
}

.button {
	background-color: rgb(211, 205, 205);
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.button-explorer {
	a {
		background-color: #FF79DA;
		padding: 10px;
		border-radius: 30px;
		text-decoration: none;
		color: white;
		box-shadow: 1px 3px rgb(145, 141, 141);
	}
}

.liste-ul {
	ul {
		list-style: none;
		padding-left: 0;
		text-align: center;
	}
	i {
		padding-right: 20px;
	}
}

i.fas.fa-ellipsis-v {
	padding-right: 0;
}

.liste {
	.phone {
		padding: 20px;
		background-color: rgb(211, 205, 205);
		width: 85%;
		border-radius: 20px;
		margin-bottom: 10px;
	}
	.bars {
		padding: 20px;
		background-color: rgb(211, 205, 205);
		width: 85%;
		border-radius: 20px;
		margin-bottom: 10px;
	}
	.store {
		padding: 20px;
		background-color: rgb(211, 205, 205);
		width: 85%;
		border-radius: 20px;
		margin-bottom: 10px;
	}
}

.restaurant {
	background-color: rgb(211, 205, 205);
	padding-bottom: 10px;
}
.resto {
	background-color: white;
	margin: 10px;
	border-radius: 15px;
	padding-bottom: 10px;
}

.contenu-resto {
	padding-left: 5px;
}

.photo-resto {
	img {
		width: 100%;
		height: 250px;
		border-radius: 15px 15px 0 0;
	}
	display: inline-block;
	position: relative;
	.nouveau {
		background: #99E2D0;
		color: #088f6d;
		height: 20px;
		padding: 5px;
		z-index: 1;
		position: absolute;
		top: 10%;
		right: 10%;
	}
	p {
		margin: 0;
	}
}

h3 {
	display: -webkit-inline-box;
	width: 90%;
}

i.far.fa-heart {
	&:hover {
		filter: pink;
	}
}

footer {
	margin-top: 30px;
	background-color: black;
	li {
		a {
			color: white;
			text-decoration: none;
		}
		color: white;
		list-style: none;
	}
	ul {
		padding-bottom: 20px;
	}
}

.logo-footer {
	img {
		filter: invert(6);
		width: 50%;
		padding-left: 40px;
	}
}

i.fas.fa-chevron-left {
	width: 10%;
	display: flex;
	margin: 0;
	padding: 0;
}

.logo-emballage {
	width: 90%;
}

.logo-image {
	img {
		width: 90%;
	}
}

.photo-gout {
	img {
		width: 100%;
	}
}

.photo-gout img 
{
    width: 100%;
}

.menu
{
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	padding-left: 5px;
}

img
{
	height: 220px;
}

.intitulé p
{
	display: flex;
	font-size: 1em;
	width: 80%;
}

.prix
{
	width: 10%;
}
 
