@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


$primaire: #9356DC;
$secondaire: rgb(255, 121, 218);
$tertiaire: #99E2D0;
$gris-fonce: #eaeaea;
$gris-claire: #f6f6f6;

p
{
	font-family: 'Roboto', sans-serif;
	color: #9f9f9f;
	position:initial ;
}

h1, .logo
{
	font-family: 'Shrikhand', cursive;
}

h2, h3
{
	color: #000;
	
}

.gourmand-titre 
{
	color: #9f9f9f;
}

h1
{
	display: -webkit-inline-box;
	font-size: 1.4em;
	width: 80%;
	padding-left: 20px;
	color: #101010;
}




.logo {
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	width: 100%;
}

.cont-page
{
	background-color: rgb(236, 233, 233);
	margin-top: -40px;
	border-radius: 30px 30px 0 0;
	padding-top: 20px;
	position: relative;
}

.formulaire {
	background-color: $gris-fonce;
	border-top: 2px solid #d3d3d3;
	padding: 15px 0 15px 0;
	text-align: center;
}

.text {
	background-color: $gris-claire;
	text-align: center;
	h2 {
		margin: 0;
		text-align: center;
	}
	p {
		margin-bottom: 0;
	}
}

.button {
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.button-explorer a {
		background: linear-gradient(to bottom right,$secondaire,$primaire);
		padding: 10px;
		border-radius: 30px;
		text-decoration: none;
		color: white;
		box-shadow: 1px 3px rgb(145, 141, 141);
}

.fa-heart {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
}
.fa-heart::before {
    content: "\002665";
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: red;
    cursor: pointer;
}

.menu-contenu
{
	width: 100%;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
	
article
{
	display: flex;
	justify-content: space-between;
}

.piment
{
	margin-top: 0;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.price
{
  align-self:flex-end;
  margin-right: 10px;
}

.check{
  display:flex;
  background-color:$tertiaire;
  width:0;
  overflow:hidden;
  margin: 0;
  border-radius: 0 20px 20px 0;
}

article:hover .check
{
		animation: visible 2s forwards;
}

@keyframes visible{
	from{
		width: 0;
	}
	to{
		width: 100px;
	}
}



.check span
{
  align-self:center;
  margin-left: 30%;
}

span
{
	margin-left: 0;
}

i.fas.fa-check 
{
    border-radius: 50%;
    padding: 5px;
    background-color: white;
	color: $tertiaire;
}

.liste-ul {
	ul {
		list-style: none;
		padding-left: 0;
		text-align: center;
	}
	i {
		padding-right: 20px;
	}
}

i.fas.fa-ellipsis-v {
	padding-right: 0;
}

@mixin form {

		padding: 20px;
		background-color: $gris-claire;
		width: 65%;
		border-radius: 20px;
		margin-bottom: 10px;
		margin-left: 33px;
}

.liste {
	.phone {
		@include form;
	}
	.bars {
		@include form;
	}
	.store {
		@include form;
	}
	& li:hover{
		background-color: rgba(255, 121, 218,0.1);
		.fa-mobile-alt, .fa-store, .fa-bars, .fa-ellipsis-v{
				color: $primaire;
		}
	}
	
}


span.number {
    margin-left: -50px;
    margin-right: 10px;
    padding: 5px;
    background: $primaire;
    border-radius: 50%;
	padding: 2px 4px;
}

.restaurant {
	background-color: $gris-claire;
	padding-bottom: 10px;
}
.resto {
	background-color: white;
	margin: 10px;
	border-radius: 15px;
	padding-bottom: 10px;
}

.contenu-resto {
	padding-left: 5px;
}

.photo-resto {
	img {
		
		border-radius: 15px 15px 0 0;
		height: 200px;
	}
	
	display: inline-block;
	position: relative;
	
	p {
		margin: 0;
	}
	width: 100%;
}

.nouveau {
		background: $tertiaire;
		color: #088f6d;
		height: 30px;
		padding: 5px;
		position: absolute;
		top: 10%;
		right: 10%;
		line-height: 2;
	}

h3 {
	display: -webkit-inline-box;
	font-size: 1em;
	margin-bottom: 0;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.photo-emballage
{
	padding-top: 20px;
	padding-bottom: 30px;
}

footer {
	margin: 0;
	width: 100vw;
	background-color: #353535;
	li {
		a {
			color: white;
			text-decoration: none;
		}
		color: white;
		list-style: none;
	}
	ul {
		padding-bottom: 20px;
	}
}

.logo-footer {
	img {
		filter: invert(6);
		width: 50%;
		padding-left: 40px;
		padding-top: 20px;
	}
}

.fa-arrow-left{
	width: 10%;
	display: flex;
	margin: 0;
	padding: 0;
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2%;
    line-height: 2;
    color: black;
}

.logo-emballage {
	width: 90%;
}

.logo-image {
	img {
		width: 40%;
	}
}

.gourmand-titre
{
	margin-left: 15px;
}

.photo-gout {
	img {
		width: 100%;
	}
}

.photo-gout img 
{
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.menu
{
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	padding-left: 5px;
}

img
{
	width: 100%;
}

.boutton-commander 
{
    padding-bottom: 20px;
	text-align: center;
}

.bouton a
{
	background: linear-gradient(to bottom right,$secondaire,$primaire);
	justify-content: center;
	padding: 10px;
	border-radius: 30px;
	text-decoration: none;
	color: white;
	box-shadow: 1px 3px #918d8d;
	line-height: 5;
}

.index
{
	width:100vw;
 
	
	background-color:black;
	animation: disparition 4s;
	opacity:0;
	
	z-index: 1000;
		#loader {
				width: 100px;
	  			height: 100px;
				  
				 -webkit-transform: translate( -50%, -50% );
				transform: translate( -50%, -50% ); 
				top: 35%;
				left: 25%;
				border: 20px solid #CCCCCC;
				border-top: 20px solid #1177FF;
				border-radius: 50%;
				animation: spin 4s ease-in-out infinite;
	  	  		
  				position:fixed;
		}

	@keyframes spin {
				0% { transform: rotate(0deg);}
				100% { transform: rotate(360deg);}
	}
	@keyframes disparition{
				0%{
					opacity:1;
					}
				25%{
					opacity:1;
					}
				50%{
					opacity:1;
					}
				99%{
					opacity:1;
					}
					
				100%{
					opacity:0;
					}
	}
}

.enveloppe
{
	position: absolute;
	
}




.menu
{
	 
	animation: remontexte 3s;
}

@keyframes remontexte{
	from{
			transform: translateY(40px);
			opacity: 0;
	}
	to{
			transform: translateY(0);
			opacity: 2;
	}
}




 
