@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


$primaire: #9356DC;
$secondaire: rgb(255, 121, 218);
$tertiaire: #99E2D0;
$gris-fonce: #eaeaea;
$gris-claire: #f6f6f6;

p
{
	font-family: 'Roboto', sans-serif;
	color: #9f9f9f;
	position:initial ;
}

h1, .logo
{
	font-family: 'Shrikhand', cursive;
}

h2, h3
{
	color: #000;
}

.gourmand-titre 
{
	color: #9f9f9f;
}

h1
{
	display: -webkit-inline-box;
	font-size: 1.4em;
	width: 80%;
	padding-left: 20px;
	color: #101010;
}




.logo {
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	width: 100%;
}

.cont-page
{
	background-color: rgb(236, 233, 233);
	margin-top: -40px;
	border-radius: 30px 30px 0 0;
	padding-top: 20px;
	position: relative;
}

.formulaire {
	background-color: $gris-fonce;
	border-top: 2px solid #d3d3d3;
	padding: 15px 0 15px 0;
	text-align: center;
}

.text {
	background-color: $gris-claire;
	text-align: center;
	h2 {
		margin: 0;
		text-align: center;
	}
	p {
		margin-bottom: 0;
	}
}

.button {
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.button-explorer a {
		background: linear-gradient(to bottom right,$secondaire,$primaire);
		padding: 10px;
		border-radius: 30px;
		text-decoration: none;
		color: white;
		box-shadow: 1px 3px rgb(145, 141, 141);
}

.fa-heart {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
}
.fa-heart::before {
    content: "\002665";
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: red;
    cursor: pointer;
}
	


.liste-ul {
	ul {
		list-style: none;
		padding-left: 0;
		text-align: center;
	}
	i {
		padding-right: 20px;
	}
}

i.fas.fa-ellipsis-v {
	padding-right: 0;
}

@mixin form {

		padding: 20px;
		background-color: $gris-claire;
		width: 85%;
		border-radius: 20px;
		margin-bottom: 10px;
}

span
{
	border: 6px solid #9356DC;
    border-radius: 50%;
    background: #9356DC;
    color: white;
	font-size: 0.8em;
    margin-left: -60px;
    margin-right: 50px;
}

.liste {
	.phone {
		@include form;
	}
	.bars {
		@include form;
	}
	.store {
		@include form;
	}
	& li:hover{
		background-color: rgba(147, 86, 220,0.3);
	}
	& li i.fas.fa:hover{
		color:#9356DC;
	}
}

.restaurant {
	background-color: $gris-claire;
	padding-bottom: 10px;
}
.resto {
	background-color: white;
	margin: 10px;
	border-radius: 15px;
	padding-bottom: 10px;
}

.contenu-resto {
	padding-left: 5px;
}

.photo-resto {
	img {
		
		border-radius: 15px 15px 0 0;
		height: 200px;
	}
	
	display: inline-block;
	position: relative;
	
	p {
		margin: 0;
	}
	width: 100%;
}

.nouveau {
		background: $tertiaire;
		color: #088f6d;
		height: 30px;
		padding: 5px;
		z-index: 1;
		position: absolute;
		top: 10%;
		right: 10%;
		line-height: 2;
	}

h3 {
	display: -webkit-inline-box;
	width: 90%;
	font-size: 1em;
	margin-bottom: 0;
}

.photo-emballage
{
	padding-top: 20px;
	padding-bottom: 30px;
}

footer {
	margin: 0;
	background-color: #353535;
	li {
		a {
			color: white;
			text-decoration: none;
		}
		color: white;
		list-style: none;
	}
	ul {
		padding-bottom: 20px;
	}
}

.logo-footer {
	img {
		filter: invert(6);
		width: 50%;
		padding-left: 40px;
		padding-top: 20px;
	}
}

.fa-arrow-left{
	width: 10%;
	display: flex;
	margin: 0;
	padding: 0;
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2%;
    line-height: 2;
    color: black;
}

.logo-emballage {
	width: 90%;
}

.logo-image {
	img {
		width: 40%;
	}
}

.gourmand-titre
{
	margin-left: 15px;
}

.photo-gout {
	img {
		width: 100%;
	}
}

.photo-gout img 
{
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.menu
{
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	padding-left: 5px;
}



img
{
	width: 100%;
}

.piment 
{
    display: -webkit-inline-box;
	width: 85%;
	font-size: 0.8em;
    margin-top: 0;
}


.boutton-commander 
{
    padding-bottom: 20px;
	text-align: center;
}

.bouton a
{
	background: linear-gradient(to bottom right,$secondaire,$primaire);
	justify-content: center;
	padding: 10px;
	border-radius: 30px;
	text-decoration: none;
	color: white;
	box-shadow: 1px 3px #918d8d;
	line-height: 5;
}

#loader {
      width: 100px;
	  height: 100px;
	  z-index: 9999;
	  position: absolute;
	  top: 50%;
	  bottom: 50;
	  right: 50%;
	  left: 50%;
      border: 20px solid #CCCCCC;
      border-top: 20px solid #1177FF;
      border-radius: 50%;
	  animation: spin 1s linear infinite;
	  	  cursor: pointer;
}

@keyframes spin {
      0% { transform: rotate(0deg);}
      100% { transform: rotate(360deg);}
}

.menu
{
	 
	animation: remontexte 3s;
}

@keyframes remontexte{
	from{
			transform: translateY(40px);
			opacity: 0;
	}
	to{
			transform: translateY(0);
			opacity: 2;
	}
}




 
