/*La mise en place de la barre avec le check qui tourne pour validé les menu*/

article:hover .check
{
		animation: visible 1s forwards;
}

@keyframes visible{
	from{
		width: 0;
	}
	to{
		width: 100px;
	}
}

article{
&:hover .fa-check{
  
    transform: rotate(0turn);
  
  }
}

.fa-check{
  transform: rotate(1turn);
        transition: transform 1s ease-in-out;
}

.check{
  display:flex;
  background-color:$tertiaire;
  width:0;
  overflow:hidden;
  margin: 0;
  border-radius: 0 20px 20px 0;
}

i.fas.fa-check 
{
    border-radius: 50%;
    padding: 5px;
    background-color: white;
	color: $tertiaire;
}

.check span
{
  align-self:center;
  margin-left: 30%;
}

/*Fin de la mise en place de la barre avec le check qui tourne pour validé les menu*/

/*Mise en place du loader avec son fond*/


@keyframes spin {
				0% { 
					transform: rotate(0deg);
					left: 40%;
					top: 50%;
					opacity: 1;
				}
				99% { 
					transform: rotate(360deg);
					left: 40%;
					top: 50%;
					opacity: 1;
				}
				100%{
					left: 9999px;
					opacity: 0;
				}
}

.index
{
	width:100vw;
	animation: disparition 3s forwards;
	display: flex;
	opacity:0;
			#loader {
				width: 100px;
	  			height: 100px;
				border: 20px solid #CCCCCC;
				border-top: 20px solid #1177FF;
				border-radius: 50%;
				animation: spin 3s ease-in-out forwards;
	  	  		position:fixed;
		        }
            @keyframes disparition{
				0%{
					opacity:1;
					background-color: white;
					height: 1000vh;
					}
				99%{
					opacity:1;
					background-color: white;
					height: 1000vh;
					}
				100%{
					opacity:0;
					}
	}
}

.enveloppe
{
	position: absolute;
	
}
/*Fin de la mise en place du loader avec son fond*/

/*La mise en place des barre de menu qui remonte*/

.menu1
{
	animation: remontexte 3s;
}

.menu2{
	animation: 3s remontexte 1s;
}

.menu3{
	animation: 3s remontexte 2s;
}

@keyframes remontexte{
	from{
			transform: translateY(40px);
			opacity: 0;
	}
	to{
			transform: translateY(0);
			opacity: 1;
	}
}

/*Fin de la mise en place des barre de menu qui remonte*/

/*Mise en forme du coeur*/
a{
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
   text-decoration: none;
   
}

i.far.fa-heart{
	font-size:1.4em;
    position: absolute;
	margin-top: 20px;
}

i.fas.fa-heart{
	opacity: 0;
	font-size: 1.4em;
	position: absolute;
	margin-top: 20px;
			&:hover{
			transform-origin: bottom right;
			opacity: 1;
			z-index: 1000;
			background:linear-gradient(to left,$primaire,$secondaire);
			background: -webkit-linear-gradient(to left,$primaire,$secondaire);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: 1s ease-in-out;
			}
}







/*Fin de la mise en forme du coeur*/
