@mixin form {

		padding: 20px;
		display: -webkit-box;
		background-color: $gris-claire;
		width: 75vw;
		height: 30px;
		border-radius: 20px;
		margin-bottom: 10px;
		margin-left: 20px;
		font-weight: bold;
		line-height: 2;
		box-shadow: 2px 5px 4px #e7e7e7;
}

.liste {
	.phone {
		@include form;
	}
	.bars {
		@include form;
	}
	.store {
		@include form;
	}
	& li:hover{
		background-color: rgba(255, 121, 218,0.1);
		.fa-mobile-alt, .fa-store, .fa-bars, .fa-ellipsis-v{
				color: $primaire;
		}
	}
	
}

