@mixin form {
		padding: 18px;
		display: -webkit-box;
		background-color: $gris-claire;
		height: 30px;
		border-radius: 20px;
		margin-bottom: 10px;
		margin-left: 29px;
		font-weight: bold;
		line-height: 2;
		box-shadow: 2px 5px 4px #e7e7e7;
}
.liste {
	.phone {
		@include form;
	}
	.bars {
		@include form;
	}
	.store {
		@include form;
	}
	& li:hover{
		background-color: rgba(245,237,255,255);
		box-shadow: 2px 5px 4px #807f7f;
		.fa-mobile-alt, .fa-store, .fa-bars, .fa-ellipsis-v{
		color: $primaire;
		}
	}
}

