h1, .logo
{
	color: #000;
	font-family: 'Shrikhand';
}

h3 
{
	display: -webkit-inline-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1.05em;
	margin-bottom: 0;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 900;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

h1
{
	display: -webkit-inline-box;
	font-size: 1.4em;
	width: 80vw;
	padding-left: 20px;
	color: #101010;
}

h1.titre-fonc-contenu {
    font-family: none;
	font-size: 1.5em;
}

p{
	font-family: 'Roboto', sans-serif;
}