h2, h3
{
	color: #000;
	
}

h3 
{
	display: -webkit-inline-box;
	font-size: 1em;
	margin-bottom: 0;
	overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h1, .logo
{
	font-family: 'Shrikhand', cursive;
}

h1
{
	display: -webkit-inline-box;
	font-size: 1.4em;
	width: 80%;
	padding-left: 20px;
	color: #101010;
}